{% load staticfiles %}
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

<link href="//fonts.googleapis.com/css?family=Lobster&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
<!-- Bootstrap core CSS -->
    <link href="{% static 'newsletter/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'newsletter/css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'newsletter/css/navbar-static-top.css' %}" rel="stylesheet">